<!DOCTYPE html>
<html>
  <head>
    <title>Phillip Dudley - Savage Worlds Character Sheet</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  </head>
  <body>

    <!-- Sidebar is hidden by default because of the style="display:none;" setting.-->
    <div class="w3-sidebar w3-bar-block w3-border-right" style="display:none;" id="mySidebar">
      <button onclick="w3_close()" class="w3-bar-item w3-large">Close &times;</button>
      <button class="w3-bar-item w3-button tablink w3-red" onclick="openStuff(event, 'CampaignInfo')">Campaign Info</button>
      <button class="w3-bar-item w3-button tablink" onclick="openStuff(event, 'Attributes')">Attributes</button>
      <button class="w3-bar-item w3-button tablink" onclick="openStuff(event, 'Skills')">Skills</button>
      <button class="w3-bar-item w3-button tablink" onclick="openStuff(event, 'EdgesAndHAdvances')">Edges and Advances</button>
      <button class="w3-bar-item w3-button tablink" onclick="openStuff(event, 'Hinderances')">Hinderances</button>
      <button class="w3-bar-item w3-button tablink" onclick="openStuff(event, 'Powers')">Powers</button>
      <button class="w3-bar-item w3-button tablink" onclick="openStuff(event, 'Weapons')">Weapons</button>
    </div>

    <!-- Page Content -->
    <div class="w3-teal">
      <button class="w3-button w3-teal w3-xlarge" onclick="w3_open()">&#9776;</button>
      <div class="w3-container">
        <h1>Character Name</h1>
        <h6>Savage Worlds</h6>
      </div>
    </div>

    <div id="CampaignInfo" class="w3-container w3-border section">
      <h2>Campaign Info</h2>
      <p>Campaign Name:</p>
      <p style="padding-left: 20px;">In the startings of...</p>
      <p>Character Name: Phillip Dudley</p>
      <p>Player Name: Phillip Dudley</p>
      <p>Race/Species: Human</p>
      <p>Bennies: 2</p>
      <p>Conviction: Chaotic Neutral</p>
      <p>Size: Medium</p>
      <p>Height: 5'9"</p>
      <p>Weight: 250lbs</p>
      <p>Background:</p>
      <p style="padding-left: 20px;">Just a guy who likes to play games.</p>
      <p>Appearance:</p>
      <p style="padding-left: 20px;">Just a normal, average white guy</p>
    </div>

    <div id="Attributes" class="w3-container w3-border section" style="display:none">
      <h2>Combat Attributes</h2>
      <p>Wounds: 0</p>
      <p>Fatigue: 0</p>
      <p>Pace: 4</p>
      <p>Parry: 8</p>
      <p>Toughness: 8</p>
      <h2>General Attributes</h2>
      <p>Agility: d6</p>
      <p>Smarts: d4</p>
      <p>Spirit: d8</p>
      <p>Strength: d6</p>
      <p>Vigor: d10</p>
    </div>

    <div id="Skills" class="w3-container w3-border section" style="display:none">
      <h2>Skills</h2>
      <p>Athletics: d4</p>
      <p>Common Knowledge: d6</p>
      <p>Notice: d6</p>
      <p>Persuasion: d4</p>
      <p>Stealth: d8</p>
    </div>

    <div id="EdgesAndHAdvances" class="w3-container w3-border section" style="display:none">
      <h2>Edges and Advances</h2>

      <h3>Base Edges</h3>
      <p>Name: Kick Ass</p>
      <p style="padding-left: 20px">Page: 89</p>
      <p style="padding-left: 20px">Description: Makes you kick ass.</p>

      <h3>Novice Edges</h3>
      <p>Name: Kick Ass</p>
      <p style="padding-left: 20px">Page: 89</p>
      <p style="padding-left: 20px">Description: Makes you kick ass.</p>
      <p>Name: Kick Ass</p>
      <p style="padding-left: 20px">Page: 89</p>
      <p style="padding-left: 20px">Description: Makes you kick ass.</p>
      <p>Name: Kick Ass</p>
      <p style="padding-left: 20px">Page: 89</p>
      <p style="padding-left: 20px">Description: Makes you kick ass.</p>

      <h3>Seasoned Edges</h3>
      <p>Name: Kick Ass</p>
      <p style="padding-left: 20px">Page: 89</p>
      <p style="padding-left: 20px">Description: Makes you kick ass.</p>
      <p>Name: Kick Ass</p>
      <p style="padding-left: 20px">Page: 89</p>
      <p style="padding-left: 20px">Description: Makes you kick ass.</p>
      <p>Name: Kick Ass</p>
      <p style="padding-left: 20px">Page: 89</p>
      <p style="padding-left: 20px">Description: Makes you kick ass.</p>
      <p>Name: Kick Ass</p>
      <p style="padding-left: 20px">Page: 89</p>
      <p style="padding-left: 20px">Description: Makes you kick ass.</p>

      <h3>Veteran Edges</h3>
      <p>Name: Kick Ass</p>
      <p style="padding-left: 20px">Page: 89</p>
      <p style="padding-left: 20px">Description: Makes you kick ass.</p>
      <p>Name: Kick Ass</p>
      <p style="padding-left: 20px">Page: 89</p>
      <p style="padding-left: 20px">Description: Makes you kick ass.</p>
      <p>Name: Kick Ass</p>
      <p style="padding-left: 20px">Page: 89</p>
      <p style="padding-left: 20px">Description: Makes you kick ass.</p>
      <p>Name: Kick Ass</p>
      <p style="padding-left: 20px">Page: 89</p>
      <p style="padding-left: 20px">Description: Makes you kick ass.</p>

      <h3>Heroic Edges</h3>
      <p>Name: Kick Ass</p>
      <p style="padding-left: 20px">Page: 89</p>
      <p style="padding-left: 20px">Description: Makes you kick ass.</p>
      <p>Name: Kick Ass</p>
      <p style="padding-left: 20px">Page: 89</p>
      <p style="padding-left: 20px">Description: Makes you kick ass.</p>
      <p>Name: Kick Ass</p>
      <p style="padding-left: 20px">Page: 89</p>
      <p style="padding-left: 20px">Description: Makes you kick ass.</p>
      <p>Name: Kick Ass</p>
      <p style="padding-left: 20px">Page: 89</p>
      <p style="padding-left: 20px">Description: Makes you kick ass.</p>

      <h3>Legendary Edges</h3>
      <p>Name: Kick Ass</p>
      <p style="padding-left: 20px">Page: 89</p>
      <p style="padding-left: 20px">Description: Makes you kick ass.</p>
      <p>Name: Kick Ass</p>
      <p style="padding-left: 20px">Page: 89</p>
      <p style="padding-left: 20px">Description: Makes you kick ass.</p>
      <p>Name: Kick Ass</p>
      <p style="padding-left: 20px">Page: 89</p>
      <p style="padding-left: 20px">Description: Makes you kick ass.</p>
      <p>Name: Kick Ass</p>
      <p style="padding-left: 20px">Page: 89</p>
      <p style="padding-left: 20px">Description: Makes you kick ass.</p>
    </div>

    <div id="Hinderances" class="w3-container w3-border section" style="display:none">
      <h2>Hinderance</h2>

      <p>Name: Kick Ass</p>
      <p style="padding-left: 20px">Page: 89</p>
      <p style="padding-left: 20px">Description: Makes you kick ass.</p>
    </div>

    <div id="Powers" class="w3-container w3-border section" style="display:none">
      <h2>Powers</h2>

      <h3>Flying</h3>
      <p style="padding-left: 20px">PP: 20</p>
      <p style="padding-left: 20px">Range: 20</p>
      <p style="padding-left: 20px">Duration: 2</p>
      <p style="padding-left: 20px">Effect: Ice</p>
    </div>

    <div id="Weapons" class="w3-container w3-border section" style="display:none">
      <h2>Weapons</h2>
      <h3>M9 Berretta Pistol</h3>
      <p style="padding-left: 20px;">Range: 30</p>
      <p style="padding-left: 20px;">Damage: 6</p>
      <p style="padding-left: 20px;">AP: 0</p>
      <p style="padding-left: 20px;">ROF: 2</p>
      <p style="padding-left: 20px;">Weight: 4lbs</p>
      <p style="padding-left: 20px;">Notes:</p>
      <p style="padding-left: 40px;">Its a gun that's also a pistol!</p>
    </div>

    <script>
      // Opens the top navigational menu.
      function w3_open() {
        document.getElementById("mySidebar").style.display = "block";
      }

      // Closes the top navigational menu.
      function w3_close() {
        document.getElementById("mySidebar").style.display = "none";
      }

      function openStuff(evt, sectionName) {
        var i, x, tablinks;
        x = document.getElementsByClassName("section");
        for (i = 0; i < x.length; i++) {
          x[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablink");
        for (i = 0; i < x.length; i++) {
          tablinks[i].className = tablinks[i].className.replace(" w3-red", "");
        }
        document.getElementById(sectionName).style.display = "block";
        evt.currentTarget.className += " w3-red";
        document.getElementById("mySidebar").style.display = "none";
      }
    </script>

    <noscript>
      Your browser does not support JavaScript. JavaScript is required for this web application.
    </noscript>

  </body>
</html>
